body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202124;
}

button {
  border: none;
}

#root {
  position: relative;
  text-align: center;
  width: 1024px;
  height: 768px;
  max-width: 1024px;
  max-height: 100vh;
  background-color: #fefefe;
  border-radius: 10px;
  overflow: hidden;
}

.App-header {
  background-color: #54b848;
  height: 150px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cuentas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cuenta {
  display: none;
}

.cuenta span {
  padding: 4px;
  margin-right: 5px;
  color: white;
  background-color: #54b848;
  border-radius: 4px;
}

.cuenta:nth-child(-n+5) {
  display: inline-block;
  font-weight: 600;
}


.cuenta, .verde {
  background-color: #54b848;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cuenta:hover, .verde:hover {
  background-color: #54b848cc;
}

.verde:disabled, .verde:disabled:hover {
  background-color: #c1c1c1;
  cursor: default;
}

.cuenta {
  min-width: 250px;
}

.salir {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 80px;
}

.detalleCuenta {
  width: 450px;
}

.detalleCuenta p {
  text-align: left;
}

.detalleCuenta span {
  float: right;
}

.transfers {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.transfer {
  display: none;
}

.transfer span {
  padding: 4px;
  margin: 0 5px;
  color: white;
  background-color: #54b848;
  border-radius: 4px;
}

.transfer:nth-child(-n+5) {
  display: inline-block;
  font-weight: 600;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

form .field {
  display: flex;
  justify-content: space-between;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opciones button {
  padding: 10px;
}