body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202124;
}
#root {
  position: relative;
  text-align: center;
  width: 1024px;
  height: 768px;
  max-width: 1024px;
  max-height: 768px;
  background-color: #fefefe;
  border-radius: 10px;
  overflow: hidden;
}

.App-header {
  background-color: #54b848;
  height: 150px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cuentas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cuenta, .salir {
  background-color: #54b848;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cuenta:hover, .salir:hover {
  background-color: #54b848cc;
}

.cuenta {
  min-width: 250px;
}

.salir {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.3em;
  border: none;
  height: 50px;
  width: 100px;
}